<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Mi Tweeter</h1>
  <p>Esta es una app que intenta replicar el funcionamiento de twitter.</p>
</div>


<p>Ultimos tweets:</p>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.message %> de <%= link_to tweet.user.email, tweet.user %>
      <% if tweet.asset? %>
        <br/>
        <%= image_tag tweet.asset.url(:thumb) %>
      <% end %>
    </li>
  <% end %>
</ul>
